# -e git+ssh://git@github.com/microbiomedata/binder-for-linkml-proj.git@20e5d9d11972f7835fdbace4c7a581c313c9cad8#egg=binder_for_linkml_proj
Babel==2.13.1
CFGraph==0.2.1
Deprecated==1.2.14
EditorConfig==0.12.3
Jinja2==3.1.2
Markdown==3.5
MarkupSafe==2.1.3
PyJSG==0.11.10
PyShEx==0.8.1
PyShExC==0.9.1
PyTrie==0.4.0
PyYAML==6.0.1
Pygments==2.16.1
QtPy==2.4.1
SPARQLWrapper==2.0.0
SQLAlchemy==2.0.22
Send2Trash==1.8.2
ShExJSG==0.8.2
antlr4-python3-runtime==4.9.3
anyio==4.0.0
argon2-cffi-bindings==21.2.0
argon2-cffi==23.1.0
arrow==1.3.0
asttokens==2.4.1
async-lru==2.0.4
attrs==23.1.0
backcall==0.2.0
beautifulsoup4==4.12.2
bioregistry==0.10.66
bleach==6.1.0
cachetools==5.3.2
certifi==2023.7.22
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.1
click==8.1.7
colorama==0.4.6
comm==0.1.4
curies==0.6.6
daff==1.3.46
debugpy==1.8.0
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.7
et-xmlfile==1.1.0
exceptiongroup==1.1.3
executing==2.0.0
fastjsonschema==2.18.1
filelock==3.12.4
fqdn==1.5.1
ghp-import==2.1.0
google-api-core==2.12.0
google-api-python-client==2.105.0
google-auth-httplib2==0.1.1
google-auth-oauthlib==1.1.0
google-auth==2.23.3
google==3.0.0
googleapis-common-protos==1.61.0
graphviz==0.20.1
greenlet==3.0.1
gspread-formatting==1.1.2
gspread==5.12.0
hbreader==0.9.1
httplib2==0.22.0
idna==3.4
importlib-metadata==6.8.0
iniconfig==2.0.0
ipykernel==6.26.0
ipython-genutils==0.2.0
ipython==8.16.1
ipywidgets==8.1.1
isodate==0.6.1
isoduration==20.11.0
jedi==0.19.1
jsbeautifier==1.14.9
json-flattener==0.1.9
json5==0.9.14
jsonasobj2==1.0.4
jsonasobj==1.3.1
jsonpatch==1.33
jsonpath-ng==1.6.0
jsonpointer==2.4
jsonschema-specifications==2023.7.1
jsonschema==4.19.1
jupyter-console==6.6.3
jupyter-events==0.8.0
jupyter-lsp==2.2.0
jupyter==1.0.0
jupyter_client==8.5.0
jupyter_core==5.4.0
jupyter_server==2.9.1
jupyter_server_terminals==0.4.4
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.9
jupyterlab==4.0.7
jupyterlab_server==2.25.0
linkml-dataops==0.1.0
linkml-runtime==1.6.0
linkml==1.6.1
matplotlib-inline==0.1.6
mergedeep==1.3.4
mistune==3.0.2
mkdocs-material-extensions==1.3
mkdocs-material==8.5.11
mkdocs-mermaid2-plugin==0.6.0
mkdocs==1.5.3
more-click==0.1.2
nbclient==0.8.0
nbconvert==7.9.2
nbformat==5.9.2
nest-asyncio==1.5.8
notebook==7.0.6
notebook_shim==0.2.3
oauthlib==3.2.2
ontodev-cogs==0.3.3
openpyxl==3.1.2
overrides==7.4.0
packaging==23.2
pandocfilters==1.5.0
parse==1.19.1
parso==0.8.3
pathspec==0.11.2
pexpect==4.8.0
pickleshare==0.7.5
platformdirs==3.11.0
pluggy==1.3.0
ply==3.11
prefixcommons==0.1.12
prefixmaps==0.1.7
prometheus-client==0.17.1
prompt-toolkit==3.0.39
protobuf==4.24.4
psutil==5.9.6
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1-modules==0.3.0
pyasn1==0.5.0
pycparser==2.21
pydantic==1.10.13
pymdown-extensions==10.3.1
pyparsing==3.1.1
pyproject-api==1.6.1
pystow==0.5.0
pytest-logging==2015.11.4
pytest==7.4.3
python-dateutil==2.8.2
python-json-logger==2.0.7
pyyaml_env_tag==0.1
pyzmq==25.1.1
qtconsole==5.4.4
rdflib-jsonld==0.6.1
rdflib-shim==1.0.3
rdflib==6.3.2
referencing==0.30.2
requests-oauthlib==1.3.1
requests==2.31.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987==1.3.8
rpds-py==0.10.6
rsa==4.9
ruamel.yaml.clib==0.2.8
ruamel.yaml==0.18.2
schemasheets==0.1.24
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.5
sparqlslurper==0.5.1
stack-data==0.6.3
tabulate==0.9.0
termcolor==2.3.0
terminado==0.17.1
tinycss2==1.2.1
tomli==2.0.1
tornado==6.3.3
tox==4.11.3
tqdm==4.66.1
traitlets==5.12.0
types-python-dateutil==2.8.19.14
typing_extensions==4.8.0
uri-template==1.3.0
uritemplate==4.1.1
urllib3==2.0.7
virtualenv==20.24.6
watchdog==3.0.0
wcwidth==0.2.8
webcolors==1.13
webencodings==0.5.1
websocket-client==1.6.4
widgetsnbextension==4.0.9
wrapt==1.15.0
zipp==3.17.0
